<h1>First Name: <%= @student.first_name %></h1>
<h2>Last Name: <%=  @student.last_name %></h2><br>
<a href="/students/<%= @student.id %>/edit">Edit Student</a>
<a href="/students/">View all Students</a>
