<%= form_for @school_class do |f|%>
  <h1>Create a new school class </h1>
  <label>School class title:</label><br>
  <%= f.text_field :title %><br>
  <label>School class room number:</label><br>
  <%= f.text_field :room_number %><br>
  <%= f.submit %>
<% end %>
