<h1>Title: <%= @school_class.title %></h1>
<h2>Room Number: <%=  @school_class.room_number%></h2><br>
<a href="/school_classes/<%= @school_class.id %>/edit">Edit Class</a>
<a href="/school_classes">View all Classes</a>
